<div th:replace="fragments/cabecalho :: cabecalho"></div>

    <hr>

    <div class="container-fluid">

        <div class="container text-left">
            <form method="post">
                <div class="form-group">
                    <label> Nome da partida </label>
                    <input type="text" class="form-control" name="matchName" placeholder="Entre com o nome da partida"
                        required>
                    <label> Entre com a quantidade de turnos </label>
                    <input type="number" class="form-control" name="turns"
                        placeholder="Entre com a quantidade de turnos" required>
                    <label> Quantidade de jogadores </label>
                    <input type="number" class="form-control" name="players"
                        placeholder="Entre com a quantidade de jogadores" required>
                    <label> Palavras (Escreva as palavras separadas por vírgula) </label>
                    <textarea class="form-control" id="palavras" name="words" rows="3"
                        required>Entre com as palavras separadas por vírgula</textarea>
                </div>
                <button type="submit" class="btn btn-primary"> Enviar </button>
            </form>
        </div>

    </div>

<div th:replace="fragments/rodape :: rodape"></div>
