<div th:replace="fragments/cabecalho :: cabecalho"></div>

<hr>

<div class="container-fluid">

    <div class="container text-left">
        <form th:action="@{/configurar-partida}" th:object="${partida}" method="POST">
            <div class="form-group">
                <label> Nome da partida </label>
                <input type="text" class="form-control" th:placeholder="Entre com o título da partida" 
                    th:field="*{titulo}" th:required="required"/>
                <label> Entre com a quantidade de turnos </label>
                <input type="number" class="form-control" th:placeholder="Entre com a quantidade de turnos"
                    th:field="*{turnos}" th:required="required"/>
                <label> Quantidade de jogadores </label>
                <input type="number" class="form-control" th:placeholder="Entre com a quantidade de jogadores"
                    th:field="*{numJogadores}" th:required="required"/>
                <label> Senha de acesso para visualizar informações do jogo posteriormente </label>
                <input type="password" class="form-control" th:placeholder="Entre com uma senha"
                    th:field="*{senha}" th:required="required"/>
                <label> Palavras (Escreva as palavras separadas por vírgula) </label>
                <textarea class="form-control" th:field="*{palavras}" th:required="required" rows="3">
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary"> Enviar </button>
        </form>
    </div>

</div>

<div th:replace="fragments/rodape :: rodape"></div>