<div th:replace="fragments/cabecalho :: cabecalho"></div>

<hr>

<div class="container-fluid">

    <div class="container text-left">
        <form th:action="@{/configurar-jogadores}" method="POST">
            <div th:each="index : ${jogadores}">
                    <div class="form-group">
                        <label th:text="${'Nome do jogador ' + index.id}"> Nome do jogador ${index} </label>
                        <input type="text" class="form-control" id="jogadores" name="jogadores" th:placeholder="${'Entre com o nome do jogador' + index.id}"/>
                    </div>
            </div>
            <input id="id" name="id" type="hidden" th:value="${id}"/>
            <button type="submit" class="btn btn-primary"> Enviar </button>    
        </form>
    </div>

</div>

<hr>

<div th:replace="fragments/rodape :: rodape"></div>