<div th:replace="fragments/cabecalho :: cabecalho"></div>

    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Talk2Me, módulo de configuração</h1>
                <p>Este módulo permite realizar o cadastro de salas, alunos e palavras para uma partida.</p>
                <p><a class="btn btn-primary btn-lg" th:href="@{/configurar-partida}" role="button">Crie já uma partida!</a></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Configurar salas de partida</h2>
                    <p>Aqui é possível realizar o cadastro de uma nova sala de uma partida e suas respectivas informações.</p>
                    <p><a class="btn btn-secondary" th:href="@{/configurar-partida}" role="button">Configurar partida</a></p>
                </div>
                <div class="col-md-6">
                    <h2>Salas</h2>
                    <p>Deseja saber o estado de uma jogo (partida)? Veja todas as salas criadas e entre com a sua
                    senha para ver as informações desejadas.</p>
                    <p><a class="btn btn-secondary" th:href="@{/listar-partidas}" role="button">Lista de todas as partidas</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>

    </main>

<div th:replace="fragments/rodape :: rodape"></div>
