<div th:replace="fragments/cabecalho :: cabecalho"></div>

    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Talk2Me, módulo de configuração</h1>
                <p>Este módulo permite realizar o cadastro de salas, alunos e palavras para uma partida.</p>
                <p><a class="btn btn-primary btn-lg" th:href="@{/configurar}" role="button">Crie já uma sala!</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-6">
                    <h2>Configurar salas</h2>
                    <p>Aqui é possível realizar o cadastro de salas e suas respectivas informações.</p>
                    <p><a class="btn btn-secondary" th:href="@{/configurar}" role="button">Configurar sala</a></p>
                </div>
                <div class="col-md-6">
                    <h2>Salas</h2>
                    <p>Deseja saber o estado de uma partida? Veja todas as salas criadas.</p>
                    <p><a class="btn btn-secondary" th:href="@{/listar-salas}" role="button">Lista de todas as salas</a>
                    </p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

<div th:replace="fragments/rodape :: rodape"></div>
